
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root{
    --color-body-bg: hsl(217, 54%, 11%);
    --color-card-bg : hsl(216, 50%, 16%);
    --color-letter: hsl(215, 51%, 70%);
    --color-line:hsl(215, 32%, 27%);
    --outfit: "Outfit";


}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--color-body-bg);
}
.card-main{
    background-color: var(--color-card-bg);
    width: 18rem;
    font-size: 15px;
    font-family: var(--outfit);
    border-radius: 10px;
    margin: auto;
}

img{
    align-items: center;
    padding: 1rem;
    width: 89%;
    border-radius: 20px;
}

.card-content{
    padding: 0 1rem 0 1rem;
    
 
}

.card-details{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

}
.price-time{
    display: flex;
    align-items: center;
    padding: 0px;
    
}
.price-time p{

    padding: 0px;
    
}
.card-details img{
    padding: 0px;
    padding-right: 0.4rem;
    width: 12%;
}



.card-author{
    display: flex;
    align-items: center;

    padding-bottom: 1rem;
}

.card-author p{
    padding: 0rem;
}


.card-author img{
    
    width: 10%;
    padding-left: 0rem;
    padding-right: 0.5rem;
  
}




span{
    padding-left: 4px;
    color: white;
}


p{
    padding-bottom: 1rem;
    color: var(--color-letter);
}

h3{
    color: white;
    padding-bottom: 1rem;
}