
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root{
    --color-body-bg: hsl(217, 54%, 11%);
    --color-card-bg : hsl(216, 50%, 16%);
    --color-letter: hsl(215, 51%, 70%);
    --color-line:hsl(215, 32%, 27%);
    --outfit: "Outfit";


}

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-body-bg);
    height: 100vh;
}
.card-main{
    background-color: var(--color-card-bg);
    width: 275px;
    font-size: 16px;
    font-family: var(--outfit);
    border-radius: 10px;

    padding: 1rem;

}

.img-top{
    width: 100%;
    border-radius: 10px;
}

.image{
    position: relative;
}
.image div {
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.image div:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
  }


.image div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image .img-top:hover + .hover-active {
    display: block;
  }

.card-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

}
.price-time{
    display: flex;
    align-items: center;
    padding: 0px;
    
}
.price-time p{

    padding: 0px;
    
}
.card-details img{
    padding-right: 0.4rem;

}
.card-author{
    display: flex;
    align-items: center;
    

}

.card-author p{
    padding-top: 1rem;
    padding-left: 0.5rem;
}


.card-author img{
    width: 10%;
}

span{
    padding-left: 4px;
    color: white;
}


p{
    padding-bottom: 1rem;
    color: var(--color-letter);
}

h3{
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.img-top,
h3,
span {
  cursor: pointer;
}

.card:hover .img-top {
    background: linear-gradient(to top, #3204fdba, #9907facc),
      url(images/image-equilibrium.jpg) no-repeat top center;
  }
  
h3:hover,
span:hover {
    color: hsl(178, 100%, 50%);
}